{% extends 'base.html' %}
{% block content %}
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Производители</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for manufacturer in manufacturers %}
            <div class="col mb-5">
                <a href="{{ manufacturer.get_absolute_url }}">
                   <div class="card h-100">
                    <!-- Product image-->
                        <img class="img-thumbnail" src="{{ manufacturer.logo.url }}"/>
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}