{% extends 'base.html' %}

{% block content %}
<section class="py-5 bg-light">
<div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">{{ manufacturer.name }}</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
        {% for phone in phones %}
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{ phone.image.url }}" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">
                        <a href="{{ phone.get_absolute_url }}">{{ phone.title }}</a>
                    </h5>
                    <!-- Product price-->
                    {{ phone.price }}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'add_to_cart' slug=phone.slug %}">Добавить в корзину</a></div>
                </div>
                {% empty %}
                <h3 class="fw-bolder mb-4">Извините, в этой категории пока нет товаров :(</h3>
            </div>
        </div>
        {% endfor %}
</section>
{% endblock %}